<div ng-controller="myController">
  <input type="email" placeholder="email" ng-model="email" />
  <input type="password" placeholder="password" ng-model="password" />
  <button ng-click="create()">Create</button>
  <table>
    <th>
      <tr>
        <th>Email</th>
        <th>Password</th>
        <th></th>
      </tr>
      <tr ng-repeat="user in users">
        <td><input ng-model="user.email" type="email" id="emailInput{{ $index }}"/></td>
        <td><input ng-model="user.password" type="password" id="passwordInput{{ $index }}"/></td>
        <td><button ng-click="update($index)">Update</button></td>
        <td><button ng-click="delete($index)">Delete</button></td>
      </tr>
    </ul>
  </table>
</div>
